
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']" style="font-family:  Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 30px">PassMan</a>
    </div>

    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="font-family:  Arial,Helvetica Neue,Helvetica,sans-serif;">
      <ul class="nav navbar-nav" >
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"  *ngIf="!isLoggedin">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/register']"><i class="icon-puzzle"></i> Register</a>
        </li>
        <li class="nav-item"  *ngIf="isLoggedin">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/suitcase']"><i class="icon-puzzle"></i> My Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!isLoggedin" routerLinkActive="active" [routerLink]="['/login']"><i class="icon-puzzle"></i> Login</a>
          <a *ngIf="isLoggedin" class="nav-link" (click)="logout()"><i class="icon-puzzle"></i> Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
